[Unit]
Description=warpstream client - %I
Documentation=https://github.com/divyansh-rawat/warpstream
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/warpstream client --config /etc/warpstream/%i.yaml
Restart=always
RestartSec=5
# Security Hardening
ReadOnlyPaths=/etc/warpstream
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
